---
import Summary from "../components/Summary.astro";
import DesktopHeader from "../layout/DesktopHeader.astro";
import Hero from "../layout/Hero.astro";
import MobileHeader from "../layout/MobileHeader";
import Trending from "../layout/Trending.astro";
import Blobs from "../components/Blobs.astro";
import Top from "../layout/Top.astro";
import Sponsor from "../layout/Sponsor.astro";
import Newsletter from "../layout/Newsletter.astro";
import "../global/styles.css";
import Footer from "../layout/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NFT|Numonu</title>
	</head>
	<body>
		<div
			class="bg-zinc-800 text-neutral-50 relative min-h-screen font-nunito overflow-hidden"
		>
			<Blobs />
			<div class="backdrop-blur-[160px]">
				<div class="max-w-[1200px] mx-auto px-4">
					<section>
						<div class="lg:hidden">
							<MobileHeader client:load />
						</div>
						<div class="hidden lg:block">
							<DesktopHeader />
						</div>
						<Hero />
						<Summary />
					</section>
					<Trending />
					<Top />
					<Sponsor />
					<Newsletter />
					<Footer/>
				</div>
			</div>
		</div>
		<script src="https://kit.fontawesome.com/65a19dc040.js" crossorigin="anonymous"></script>
	</body>
</html>
