---
import Summary from "../components/Summary.astro";
import DesktopHeader from "../layout/DesktopHeader.astro";
import Hero from "../layout/Hero.astro";
import MobileHeader from "../layout/MobileHeader";
import Trending from "../layout/Trending.astro";
import "../global/styles.css";
import Blobs from "../components/Blobs.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-zinc-800 text-neutral-50 relative min-h-screen font-nunito">
		<Blobs/>
		<div class="backdrop-blur-[120px]">
			<div class="max-w-[1200px] mx-auto px-4">
				<section>
					<div class="lg:hidden">
						<MobileHeader client:load />
					</div>
					<div class="hidden lg:block">
						<DesktopHeader />
					</div>
					<Hero />
					<Summary />
				</section>
				<section>
					<Trending />
				</section>
			</div>
		</div>
	</body>
</html>
