<div
	class="bg-orange-300 w-52 aspect-square rounded-full absolute top-[5rem] left-0 md:scale-150"
>
</div>
<div
	class="bg-lime-300 w-36 aspect-square rounded-full absolute top-[40rem] left-[35%] md:scale-150"
>
</div>
<div
	class="bg-blue-400 w-52 aspect-square rounded-full absolute top-[17rem] left-[80%] md:scale-150"
>
</div>
<div
	class="bg-orange-300 w-52 aspect-square rounded-full absolute top-[90rem] left-0 md:scale-150"
>
</div>
<div
	class="bg-sky-300 w-36 aspect-square rounded-full absolute top-[60rem] left-[80%] md:scale-150"
>
</div>
<div
	class="bg-sky-300 w-52 aspect-square rounded-full absolute top-[135rem] left-[80%] md:scale-150"
>
</div>
<div
	class="bg-orange-300 w-52 aspect-square rounded-full absolute bottom-[40rem] left-0 md:scale-150"
>
</div>
<div
	class="bg-sky-300 w-36 aspect-square rounded-full absolute bottom-0 right-0 md:scale-150"
>
