<header class="py-4 font-light">
	<div class="flex justify-between items-center">
		<h2 class="text-2xl">EnDasmu</h2>
		<ul class="overflow-hidden flex items-center gap-12 text-xl">
			<li>
				<button>
					<a href="#" class="capitalize">collection</a>
				</button>
			</li>
			<li>
				<button>
					<a href="#" class="capitalize">market place</a>
				</button>
			</li>
			<li>
				<button>
					<a href="#" class="capitalize">community</a>
				</button>
			</li>
			<li>
				<button
					class="border-neutral-50 px-4 py-2 border-2 rounded-full"
				>
					<a href="#" class="capitalize">connect walet</a>
				</button>
			</li>
		</ul>
	</div>
</header>
