<div
	class="pt-8 max-w-[500px] mx-auto grid grid-cols-1 lg:grid-cols-2 lg:max-w-none"
>
	<div class="lg:flex flex-col justify-center">
		<h1 class="text-3xl text-center mb-4 lg:text-start lg:text-5xl">
			Discover <br /> Digital Art and Collect NFTs.
		</h1>
		<p class="text-lg mb-4 lg:text-xl">
			This is a shared liquidity NFT market smart constract which is
			used by multiple website to provide the users the best possible
			experience
		</p>
		<div
			class="flex flex-col gap-4 md:flex-row md:justify-center lg:justify-start md:text-xl"
		>
			<button
				class="bg-gradient-to-r from-kiwi to-aguaje py-2 px-6 rounded-full"
			>
				Get Started
			</button>
			<button class="py-2 px-6">
				Learn More <i class="fa-solid fa-arrow-right-long inline"></i>
			</button>
		</div>
	</div>
	<div>
		<div class="relative mx-auto max-w-[500px]">
			<img class="translate-x-[5%]" src="svg/hero_blob.svg" alt="blob" />
			<img
				class="w-[80%] absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
				src="images/hero_person.webp"
				alt="ilustracion de un personaje en 3D"
			/>
		</div>
	</div>
</div>
